APP_NAME="Naka Exam Bypasser"
APP_HOST="http://localhost"
APP_PORT=3000
APP_ENV="production"

SESSION_SECRET="your-session-secret"

DISCORD_WEBHOOK_URL="your-discord-webhook-url"
DISCORD_WEBHOOK_NAME="Naka Exam Bypasser"
DISCORD_WEBHOOK_AVATAR_URL="https://nach-neb.my.id/images/seb.png"
DISCORD_WEBHOOK_COLOR=16711680 # Red
DISCORD_WEBHOOK_EMBED_TITLE="Naka Exam Bypasser"
DISCORD_WEBHOOK_EMBED_DESCRIPTION="Someone purchased a Naka Exam Bypasser token."
DISCORD_WEBHOOK_EMBED_FOOTER_TEXT="Naka Exam Bypasser"
DISCORD_WEBHOOK_EMBED_FOOTER_ICON_URL="https://nach-neb.my.id/images/seb.png"

SMTP_HOST="mail.nach-neb.my.id"
SMTP_PORT=465
SMTP_USER="payment@nach-neb.my.id"
SMTP_PASS="smtp-password"

WEB3FORMS_FORM_URL="https://api.web3forms.com/submit"
WEB3FORMS_ACCESS_KEY="your-web3forms-access-key"

TELEGRAM_CHAT_ID="your-telegram-chat-id"
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"
TELEGRAM_API_ENDPOINT="https://api.telegram.org/bot<YOUR_BOT_TOKEN>/sendMessage"

TRAKTEER_WEBHOOK_TOKEN="your-trakteer-webhook-token"
