<%
const fixedFooterClass = 'footer-fixed';
const fixedFooterRoutes = [
  'service/seb',
];

const isFixedFooter = fixedFooterRoutes.some(route => isRouteActive(route));
const footerClass = isFixedFooter ? fixedFooterClass : '';
%>

<footer class="footer <%= footerClass %>">
  <div class="container text-center">© <%= currentYear %> <%= title %>. All Rights Reserved.</div>
</footer>
