body {
  background: linear-gradient(135deg, #f8f9fa, #f8f9fa);
  font-family: "Arial", sans-serif;
}
.title {
  background: linear-gradient(135deg, #deeaff, #c68efa);
  height: 70vh;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.navbar .container {
  margin: 40px 20px 40px 20px auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hero {
  text-align: center;
  padding: 200px 20px;
}
.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}
.hero p {
  color: #6c757d;
  max-width: 800px;
  font-size: 18px;
  margin: 0 auto;
  padding: 20px 0 15px 0;
}
.btn-primary {
  background-color: #3b82f6;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 24px;
}
.navbar-brand {
  font-weight: bold;
  margin-left: 15px;
}

.service {
  padding: 50px 0;
}
.service .card {
  width: 18rem;
  border-radius: 10px;
  padding: 40px 5px 30px 5px;
}
.service h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.service p {
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 80px;
}
.service-cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.service-cards .card img {
  width: 50%;
}

.faq {
  background: linear-gradient(135deg, #deeaff, #c68efa);
  height: 70vh;
}

.faq-title {
  padding: 50px 0;
}
.faq-title h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Services Pages */

.services {
  padding: 100px 0;
  height: 70vh;
}
.services .container {
  padding: 0 20px;
}

.tutorial {
  padding: 100px 0;
}

.contact {
  padding: 100px 0;
  height: 70vh;
}

.footer {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 50px 0;
  text-align: center;
}

/* Responsive */
@media (max-width: 1200px) {
  .title {
    height: 50vh;
  }
  .hero {
    padding: 140px 20px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 16px;
  }
  .service {
    padding: 30px 0;
  }
  .service .card {
    width: 16rem;
  }
  .faq {
    height: auto;
    padding: 20px 0;
  }
}

@media (max-width: 992px) {
  .title {
    height: 50vh;
  }
  .hero {
    padding: 120px 20px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 15px;
    max-width: 80%;
  }
  .service .card {
    width: 12rem;
  }

  .service h2 {
    font-size: 2.4rem;
  }
  .service p {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .service-cards {
    flex-wrap: wrap;
    gap: 20px;
  }
  .service-cards .card img {
    width: 60%;
  }
  .service-cards .card h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    height: 45vh;
  }
  .hero {
    padding: 120px 20px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 14px;
    max-width: 90%;
  }
  .service .card {
    width: 14rem;
    margin-bottom: 20px;
  }
  .service h2 {
    font-size: 2rem;
  }
  .service p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .service-cards {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .service-cards .card img {
    width: 50%;
  }
  .faq-title h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .title {
    height: 65vh;
  }
  .hero {
    padding: 120px 10px;
  }
  .hero h1 {
    font-size: 2.3rem;
  }
  .hero p {
    font-size: 16px;
    max-width: 80%;
  }
  .btn-primary {
    font-size: 0.9rem;
    padding: 8px 16px;
    width: 10rem;
  }
  .service .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .service h2 {
    font-size: 1.8rem;
  }
  .service-cards {
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
  .service-cards .card img {
    width: 40%;
  }
  .faq .container {
    padding: 0 20px;
  }
  .faq-title h2 {
    font-size: 1.5rem;
  }
  .faq-title p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .title {
    height: 65vh;
  }
  .hero {
    padding: 100px 10px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 14px;
    max-width: 90%;
  }
  .btn-primary {
    font-size: 0.8rem;
    padding: 6px 12px;
    width: 10rem;
  }
  .service {
    padding: 20px 0;
  }
  .service .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .service h2 {
    font-size: 1.6rem;
  }
}
