<% layout('layouts/main.layout') %>

<% block('subTitle', 'Safe Exam Browser') %>

<% block('addon-style', `
  <link rel="stylesheet" href="${asset('vendor/bootstrap-icons/font/bootstrap-icons.min.css')}" nonce="${cspNonce}" />
  <link rel="stylesheet" href="${asset('vendor/toastr/css/toastr.min.css')}" nonce="${cspNonce}" />
  <style nonce="${cspNonce}">
    input {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }

    .btn-download {
      display: none;
    }

    @media (max-width: 768px) {
      input {
        width: 100%;
        max-width: 85%;
      }
    }
  </style>
`) %>

<div class="services text-center my-5">
  <div class="container text-center faq-title">
    <h1 class="fw-bold">Upload File</h1>
    <p>Upload your SEB Config</p>

    <form id="service-form" action="#" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <input type="text" class="form-control mx-auto" name="redeem_code" id="redeem_code" placeholder="Enter Redeem Code" />
      </div>

      <div class="mb-3">
        <input type="text" class="form-control mx-auto" name="file_name" id="file_name" placeholder="Enter Name File" />
      </div>

      <div class="mb-3">
        <input type="file" class="form-control mx-auto" name="file" id="file" accept=".seb" />
      </div>

      <div class="d-flex justify-content-center gap-3">
        <button type="submit" class="btn btn-primary px-4" id="submit-btn">
          <i class="bi bi-upload me-2"></i>Upload
        </button>
        <button type="button" class="btn btn-primary btn-download px-4" id="download-btn">
          <i class="bi bi-download me-2"></i>Download
        </button>
      </div>
    </form>

    <div class="json mt-4">
      <div class="container">
        <div class="row justify-content-center" id="resultContainer"></div>
      </div>
    </div>
  </div>
</div>

<% block('addon-script', `
  <script src="${asset('vendor/jquery/jquery-3.7.1.min.js')}" nonce="${cspNonce}"></script>
  <script src="${asset('vendor/toastr/js/toastr.min.js')}" nonce="${cspNonce}"></script>
  <script nonce="${cspNonce}">
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": true,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": true,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };
  </script>
`) %>

<% block('addon-script', `
  <script nonce="${cspNonce}">
    function downloadResult() {
      const downloadBtn = document.getElementById('download-btn');
      const resultContainer = document.getElementById('resultContainer');

      downloadBtn.addEventListener('click', () => {
        const formattedJsonData = {
          shortTitle: "",
          title: "",
          version: 2,
          headers: []
        };

        let fileName = "result";

        const cardData = Array.from(resultContainer.children).map((colDiv) => {
          const cardBody = colDiv.querySelector('.card-body');
          return {
            name: cardBody.querySelector('.card-title').textContent,
            value: cardBody.querySelector('.card-text').textContent
          }
        });

        cardData.forEach((item) => {
          const name = item.name.toLowerCase();
          if (name === 'file-name') {
            fileName = item.value;
            formattedJsonData.title = item.value;
            formattedJsonData.shortTitle = item.value.charAt(0).toUpperCase();
          } else {
            formattedJsonData.headers.push({
              enabled: false,
              appendMode: name !== 'user-agent',
              name: item.name,
              value: item.value
            });
          }
        });

        const blob = new Blob([JSON.stringify(formattedJsonData, null, 2)], { type: 'application/json' });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = fileName + '.json';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(url);
        toastr.success('File downloaded successfully!', 'Service');
      });
    }
  </script>
`) %>

<% block('addon-script', `
  <script nonce="${cspNonce}">
    function showResult(data) {
      const downloadBtn = document.getElementById('download-btn');
      downloadBtn.style.display = 'block';
      const resultContainer = document.getElementById('resultContainer');
      resultContainer.innerHTML = '';

      for (let index = 0; index < data.length; index++) {
        const element = data[index];
        const colDiv = document.createElement('div');
        if (data.length % 2 !== 0 && index === data.length - 1) {
          colDiv.className = 'col-md-10 mb-3';
        } else {
          colDiv.className = 'col-md-5 mb-3';
        }

        const card = document.createElement('div');
        card.className = 'card h-100';

        const cardBody = document.createElement('div');
        cardBody.className = 'card-body';

        const cardTitle = document.createElement('h5');
        cardTitle.className = 'card-title';
        cardTitle.textContent = element.name;

        const cardText = document.createElement('p');
        cardText.className = 'card-text';
        cardText.textContent = element.value;

        cardBody.appendChild(cardTitle);
        cardBody.appendChild(cardText);
        card.appendChild(cardBody);
        colDiv.appendChild(card);
        resultContainer.appendChild(colDiv);
      }
    }
  </script>
`) %>

<% block('addon-script', `
  <script nonce="${cspNonce}">
    function initHandler() {
      const form = document.getElementById('service-form');
      const downloadBtn = document.getElementById('download-btn');
      const submitButton = document.getElementById('submit-btn');
      const searchParams = new URLSearchParams(window.location.search);
      const currentUrlQuery = searchParams.toString() ? '?' + searchParams.toString() : '';

      form.addEventListener('submit', async (event) => {
        event.preventDefault();

        downloadBtn.style.display = 'none';

        const redeemCode = document.getElementById('redeem_code').value;
        const fileName = document.getElementById('file_name').value;
        const fileInput = document.getElementById('file');

        if (!redeemCode || !fileName || !file) {
          toastr.error('Please fill in all fields and select a file.', 'Service');
          return;
        }

        const formData = new FormData();
        formData.append('file_name', fileName);
        formData.append('file', fileInput.files[0]);

        submitButton.disabled = true;
        submitButton.value = 'Loading...';

        toastr.info('Processing your request...', 'Service');

        try {
          const response = await fetch("${route('service/seb')}/" + redeemCode + currentUrlQuery, {
            method: 'POST',
            body: formData,
            headers: {
              'Accept': 'application/json'
            }
          });

          if (response.ok) {
            const data = await response.json();
            toastr.success(data.message, 'Service');
            showResult(data.data);
          } else {
            const errorData = await response.json();
            toastr.error(errorData.message, 'Service');
          }
        } catch (error) {
          toastr.error('An error occurred while uploading the file.', 'Service');
        } finally {
          form.reset();
          submitButton.disabled = false;
          submitButton.value = 'Upload';
        }
      });
    }

    document.addEventListener('DOMContentLoaded', initHandler);
    document.addEventListener('DOMContentLoaded', downloadResult);
  </script>
`) %>
