<% layout('layouts/main.layout') %>

<% block('subTitle', 'Service') %>

<% block('addon-style', `
  <style nonce="${cspNonce}">
    .service-container {
      width: 25rem;
      text-decoration: none;
    }
  </style>
`) %>

<div class="services text-center my-5">
  <div class="container text-center faq-title">
    <h1 class="section-title">Our Service</h1>
    <p>We offer a variety of services to help you with your online exams and assignments.</p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-12 col-lg-3">
      <a href="<%= route('service/seb') %>" class="service-container">
        <div class="cheat-card">
          <div class="cheat-card-header bg-primary">
            Safe Exam Broswer
            <span class="badge bg-light text-dark">Popular</span>
          </div>
          <div class="cheat-card-body">
            <div class="cheat-item">
              <span class="cheat-name">Bypass the proctoring</span>
              <span class="cheat-shortcut">Highlight correct</span>
            </div>
            <div class="cheat-item">
              <span class="cheat-name">Free to switch between browser</span>
              <span class="cheat-shortcut">Supported</span>
            </div>
            <div class="cheat-item">
              <span class="cheat-name">Fast results</span>
              <span class="cheat-shortcut">Instant</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
