<% layout('layouts/main.layout') %>

<% block('subTitle', 'Service') %>

<% block('addon-style', `
  <style nonce="${cspNonce}">
    .containerService {
      width: 25rem;
    }

    .serviceImage {
      width: 50px;
      height: 50px;
    }
  </style>
`) %>

<div class="services text-center my-5">
  <div class="container text-center faq-title">
    <h2>Our Service</h2>
    <p>We offer a variety of services to help you with your online exams and assignments.</p>
  </div>
  <div class="d-flex justify-content-center">
    <a href="<%= route('service/seb') %>" class="text-decoration-none containerService">
      <div class="btn btn-light d-flex align-items-center border shadow-sm p-3">
        <img src="<%= asset('logo.ico') %>" alt="Quizizz" class="me-3 serviceImage" />
        <span class="fw-semibold text-dark">Safe Exam Browser</span>
      </div>
    </a>
  </div>
</div>
