
<% const footerClass = isRouteActive() == 'active' ? "" : "fixed-bottom"; %>

<footer class="text-center text-lg-start bg-light <%= footerClass %>">
  <div class="text-center p-3 footer">© 2023 <%= title %> Online. All Rights Reserved.</div>
</footer>
